body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"], button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#resultado p {
    background-color: #e7e7e7;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Estilos para el contenedor de la selección de cementerio */
.select-wrapper {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para el botón de agregar */
#addButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addButton:hover {
    background-color: #45a049;
}
